.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
  }

  .note-modal{
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
    width: 30rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

 .note-modal__textarea{
    width: 90%;
    padding: 1rem;
    margin: 10px auto;
    border: 3px solid cadetblue;
    border-radius: 10px;

    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
} 